@import "tailwindcss";

@theme {
  --color-brand-dark: #0f172a;
  --color-brand-border: #1e293b;
  --font-display: 'Inter', sans-serif;
  --animate-spin-slow: spin 8s linear infinite;
}

@layer utilities {
  .glass-card {
    @apply bg-white/5 backdrop-blur-md border border-white/10 rounded-2xl;
  }

  .text-gradient {
    background: linear-gradient(to right, #001AED, #00d2ff, #00FF66);
    background-size: 200% auto;
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: gradient 3s ease infinite;
  }
}

@keyframes gradient {

  0%,
  100% {
    background-position: 0% center;
  }

  50% {
    background-position: 100% center;
  }
}

/* Custom Scrollbar */
::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #0f172a;
}

::-webkit-scrollbar-thumb {
  background: #334155;
  border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
  background: #475569;
}